 
      <div class="img-1">
           <img src="/2.jpg" alt="">
     
    <div class="gallery">
            
        <div class ="container">
            <h1><u>Education</u></h1>
             {{#with myData.education}}
         <p> <h2><u>lowersecondaryschool</u></h2>{{lowers}}</p>

         <p> <h2><u>Uppersecondaryschool</u></h2> {{Upper}}  </p>
        
        {{/with}}
         </div>
</div>