
 
        
        <div class="header1">
            <center>
    <h1>My  Skill</h1>
    </center>
    
      <div class="gallery">
    <div class="con">
        <b>HTML</b>
        <div class="card1">
            <b>60%</b>
        </div>
        <b>css</b>
        <div class="card2">
            <b>70%</b>
        </div>
        <b>PHP</b>
        <div class="card3">
            <b>75%</b>
        </div>
        <b>JAVA</b>
        <div class="card4">
            <b>40%</b>
        </div>
        <b>JASON</b>
        <div class="card5">
            <b>50%</b>
        </div>

    </div>
   </div>
   </div>

